.category {
  height: 250px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category img {
  width: 200px;
  object-fit: contain;
  max-height: 200px;
  padding: 0px 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  /* padding: px; */
  margin-left: 15px;
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.Category_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: -3% auto 0;
  gap: 35px;
}
